
.b1{
    animation-delay: 1s;
    animation-duration: 12s;
    animation-name: b1;
    animation-iteration-count: infinite;
}

.b2{
    animation-delay: 2s;
    animation-duration: 10s;
    animation-name: b2;
    animation-iteration-count: infinite;
}

.b3{
    animation-delay: 4s;
    animation-duration: 9s;
    animation-name: b3;
    animation-iteration-count: infinite;
}

.b4{
    animation-delay: 6s;
    animation-duration: 7s;
    animation-name: b4;
    animation-iteration-count: infinite;
}

@keyframes b1{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-80vh);
    }
}

@keyframes b2{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-80vh);
    }
}

@keyframes b3{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-80vh);
    }
}

@keyframes b4{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-80vh);
    }
}

.st3{
    animation-delay: 1s;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-name: fish;
    transform-origin: 70% 30%;
}

@keyframes fish{
    0%{
        transform: translateX(70vh);
    }
        
    40%{
        transform: translateX(-100vh) rotate(180deg);
    }
    
    100%{
        transform: translateX(100vh);
    }
}